a{
  color:white;
}
/* posts cards containing container */
.containpost {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  max-width: 90%;
}
/* heading which tells the category of post */
.posts h3{
  margin-left: 4rem;
  text-decoration: underline;
}
.container{
  margin:5% 12%;
}
.activelink{
  color:black;
}
.headerlink{
  margin-left: 10px;
  margin-right: 10px;
}
.detailpost{
  margin: 5% 12%;
}
